@import '../abstracts/_variables.scss';

$font-weights-map: (
  $fw-light: 'Light',
  $fw-regular: 'Regular',
  $fw-medium: 'Medium',
  $fw-bold: 'Bold',
  $fw-extrabold: 'ExtraBold'
);

@each $weight, $filename in $font-weights-map {
    @font-face {
        font-family: $font-primary;
        // Dosya ismini dinamik olarak buraya ekliyoruz:
        src: url('#{$font-path}/Montserrat-#{$filename}.woff2');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}