@mixin flex-layout($dir: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

@mixin center-absolute($extra: scale(0)) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) #{$extra};

}