@import '../abstracts/_variables.scss';

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: $cl-black;
    background-color: transparent;
    border: 2px solid $cl-red;
    font-size: $fs-md;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;

    &:hover {
        color: white !important;
        background-color: $cl-red;
    }
}

@media (min-width: 768px) {
    .cta {
        font-size: $fs-lg;
        padding: 20px 60px;
    }

}


