@import '../abstracts/_variables.scss';
#footer {
    .footer {
        min-height: 200px;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
        display: flex;
    }

    .social-icon {
        display: flex;
        margin-bottom: 30px;
    }

    .social-item {
        height: 50px;
        width: 50px;
        margin: 0 5px;

        img {
            filter: grayscale(1);
            transition: .3s ease filter;
        }

        &:hover img {
            filter: grayscale(0);
        }
    }

    p {
        color: white;
        font-size: $fs-base;
    }
}
