@import '../abstracts/_mixin.scss';
@import '../abstracts/_variables.scss';

.chat-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    font-family: $font-secondary;
}

.chat-popup {
    display: none; /* Başlangıçta gizli */
    position: absolute;
    bottom: 80px;
    right: 0;
    width: 250px;
    background-color: $cl-white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    animation: fadeInUp 0.5s ease;
}

.chat-header {
    background-color: #25D366;
    color: $cl-white;
    padding: 10px 15px;
    border-radius: 12px 12px 0 0;
    @include flex-layout(row, space-between, center);
    font-size: $fs-base;
    font-weight: $fw-bold;
}

.close-btn {
    background: none;
    border: none;
    color: $cl-white;
    font-size: $fs-md;
    cursor: pointer;
}

.chat-body {
    padding: 15px;
    font-size: $fs-base;
    color: #333;
    line-height: 1.4;
}

.main-chat-btn {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    /* Flexbox ile tam ortalama */
    @include flex-layout(row, center, center);
    /* Taşmaları önlemek için */
    overflow: hidden;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }


    img {
        width: 35px; /* Genişliği sabitle */
        height: 35px; /* Yüksekliği sabitle */
        /* İkonun orantılı olarak sığmasını sağla */
        object-fit: contain;
        /* Olası varsayılan boşlukları sıfırla */
        margin: 0;
        padding: 0;
        /* Blok element gibi davranmasını sağla */
        display: block;
    }
}

/* Animasyon */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}